h1 {
    font-weight: 300;
    font-family: "Roboto";
    text-align: center;
    fallback: "sans-serif";
  }
  table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
  }
  table thead {
      height: 2rem;
      text-align: left;
      color: #1db954;
      background-color: #d3d3d3;
      border-collapse: collapse;
      /* outline: 1px solid red; */
    }
  img {
      height: 100px;
      width: 100px;
  }
  table td {
    padding: .5em;
    border-bottom: 1px solid #d3d3d3;
  }
  table tr:nth-of-type(even) {
    background-color: #eee;
  }
  table tr:hover {
    background-color: pink;
  }

 
